img{
	width:30%;
	float:left;
	margin:1.667%;
}

p{
	font-family:Raleway;
	font-weight:800;
	font-size:23px;
	margin-left:1.667%;
	text-transform:uppercase;
	width:30%;
	border-bottom:2px solid #f1f1f1;
}