<h1>This is the Secret Page</h1>

<p>Aa gaya, Aa gaya, dil churane, main aa gaya</p>

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>