h1{
	text-align:center;
	font-weight:bold;
}
table{
	margin-left:auto;
	margin-right:auto;
	height:300px;
	width:300px;
}

td {
	border:3px solid white;
}

.midcol {
	border-left:3px solid black;
	border-right:3px solid black;
}

.midrow {
	border-top:3px solid black;
	border-bottom:3px solid black;
}

